<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.friendlines">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".CommentSection" />
        <activity
            android:name=".view.CreatePostActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.profile.GalleryImageActivity" />
        <activity
            android:name=".view.auth.RecoverPasswordActivity"
            android:parentActivityName=".view.LaunchActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".view.profile.EducationActivity" />
        <activity android:name=".view.profile.EditProfileActivity" />
        <activity
            android:name=".view.auth.register.RegBirthGenderActivity"
            android:parentActivityName=".view.auth.register.RegNamesActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.auth.register.RegNamesActivity"
            android:parentActivityName=".view.LaunchActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.auth.register.RegisterActivity"
            android:parentActivityName=".view.auth.register.RegBirthGenderActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.auth.LoginActivity"
            android:parentActivityName=".view.LaunchActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.LaunchActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".view.MainActivity" />
        <activity
            android:name=".view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>